<app-main-vote 
  [cats]="cats" 
  (highScoresToggleEvent)="receiveHighScoresToggle($event)"
  (allScoresToggleEvent)="receiveAllScoresToggle($event)"
  (catsHashEvent)="receiveCatsHash($event)"
  (totalVotesEvent)="receiveTotalVotes($event)">
</app-main-vote>
<div *ngIf=this.highScoresToggle>
  <div class="modal" [ngClass]="{ 'is-active' : this.highScoresToggle }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">High Scores of {{ this.totalVotes }} Votes</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <app-main-score [allCats]="cats" [catVotesHash]="catVotesHash" [totalVotes]="totalVotes">
        </app-main-score>
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="toggleHighScoresModal()">Close</button>
      </footer>
    </div>
  </div>
  </div>

  <div *ngIf=this.allScoresToggle>
      <div class="modal" [ngClass]="{ 'is-active' : this.allScoresToggle }">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">All Scores of {{ this.totalVotes }} Votes</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <app-all-score [allCats]="cats" [catVotesHash]="catVotesHash" [totalVotes]="totalVotes">
            </app-all-score>
          </section>
          <footer class="modal-card-foot">
            <button class="button" (click)="toggleAllScoresModal()">Close</button>
          </footer>
        </div>
      </div>
      </div>